{% extends 'base.html' %}
{% block content %}
<h1 class="text-center newsTitle bg-dark text-white">About</h1>
<div class="container">
    <h2 class="mt-3">Check Buy</h2>
    <p>Check Buy is 2 step webshop where you can buy electronic gear fast and easy from all over the workl.</p>
    <div class="info">
        <p class="text-center"><strong class="mt-3">Check Buy, SIA</strong></p>
        <p>Reg. No. 3460364983694034690</p>
        <p>VAT No. LV3904869834039864</p>
        <p>Bank: AS Swedbank</p>
        <p>Account No. LV22HABA409823490823290382390</p>
        <hr>
        <p>Mailing address:</p>
        <p>Lielā iela 5,</p>
        <p>Liepāja LV-3401</p>
        <p>Latvia</p>
    </div>
</div>
{% endblock %}
