{% extends 'base.html' %}
{% block content %}
<h1 class="text-center newsTitle bg-dark text-white">Manufactures</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card bg-dark" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='images/manufactures/ericaSynths.jpeg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Erica synths</h5>
                    <p class="card-text">Erica Synths team of visionaries, engineers and musicians have been working
                        hard to bring you modules and instruments that will set your modular system apart from mass in
                        terms of how it sounds, looks and functions. Check them out and find what you are missing! </p>
                    <a href="#" class="btn btn-light">More</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='images/manufactures/Mutable-Instruments-Logo.png') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mutable instruments</h5>
                    <p class="card-text">Mutable Instruments is a one-woman-show from France and one of the biggest names
                        in the Eurorack community. The company’s modules have been a staples in Eurorack synths across
                        the world for a long time and remain highly sought-after.</p>
                    <a href="#" class="btn btn-light">More</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='images/manufactures/xaoc_devices.gif') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Xaoc devices</h5>
                    <p class="card-text">Xaoc Devices is the premier modular synthesizer company coming from Poland.
                        Founded on a true passion, our goal is to keep the product line creatively inspiring, innovative
                        and uncompromised.</p>
                    <a href="#" class="btn btn-light">More</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='images/manufactures/makenoize.png') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Make noize</h5>
                    <p class="card-text">Make Noise was founded in 2008 by Tony Rolando, a self-taught electronic musical
                        instrument designer who got started by obsessively reading amateur radio books at the public library,
                        building electronics for artists</p>
                    <a href="#" class="btn btn-light">More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
