{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="text-center mt-4">Products</h1>
    <div class="row">
        <div class="col">
            <div class="card bg-dark" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='images/products/diy-delay-ericasynths.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Diy delay</h5>
                    <p class="card-text">Erica Synths DIY Delay is hi-fi delay module with unique functionality typically
                        found on advanced factory-produced units. </p>
                    <a href="#" class="btn btn-light">More</a>
                    <a href="#" class="btn btn-light">Add to basket</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='images/products/FusionVCA2.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fusion vca</h5>
                    <p class="card-text">It’s not a regular VCA; it can operate as one, but most of the power of the
                        module is in advanced modulations – with two CVs applied simultaneously to different stages of
                        the VCA, audio rate modulations, using ringmodulator as a waveshaper – your imagination is a limit! </p>
                    <a href="#" class="btn btn-light">More</a>
                    <a href="#" class="btn btn-light">Add to basket</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='images/products/xaoc_odessa.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Odessa</h5>
                    <p class="card-text">Odessa is an additive oscillator, which means the output signal is synthesized
                        by adding a multitude of sinusoidal components (up to 2560 harmonic partials).</p>
                    <a href="#" class="btn btn-light">More</a>
                    <a href="#" class="btn btn-light">Add to basket</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='images/products/cursable.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cursible</h5>
                    <p class="card-text">The Cursible from Sacrament Modular brings effects morphing (and much more) to the Eurorack format.</p>
                    <a href="#" class="btn btn-light">More</a>
                    <a href="#" class="btn btn-light">Add to basket</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='images/products/diy-delay-ericasynths.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Diy delay</h5>
                    <p class="card-text">Erica Synths DIY Delay is hi-fi delay module with unique functionality typically
                        found on advanced factory-produced units. </p>
                    <a href="#" class="btn btn-light">More</a>
                    <a href="#" class="btn btn-light">Add to basket</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='images/products/diy-delay-ericasynths.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Diy delay</h5>
                    <p class="card-text">Erica Synths DIY Delay is hi-fi delay module with unique functionality typically
                        found on advanced factory-produced units. </p>
                    <a href="#" class="btn btn-light">More</a>
                    <a href="#" class="btn btn-light">Add to basket</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='images/products/diy-delay-ericasynths.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Diy delay</h5>
                    <p class="card-text">Erica Synths DIY Delay is hi-fi delay module with unique functionality typically
                        found on advanced factory-produced units. </p>
                    <a href="#" class="btn btn-light">More</a>
                    <a href="#" class="btn btn-light">Add to basket</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='images/products/diy-delay-ericasynths.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Diy delay</h5>
                    <p class="card-text">Erica Synths DIY Delay is hi-fi delay module with unique functionality typically
                        found on advanced factory-produced units. </p>
                    <a href="#" class="btn btn-light">More</a>
                    <a href="#" class="btn btn-light">Add to basket</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
